@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css');

html,
body {
  background-color: #f7f8fa;
  font-family: 'Robotto', sans-serif;
  height: 100vh;
  color: #46444c;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #5a45ff;
  text-decoration: none;
}

main {
  margin-top: 8rem;
  padding: 0 30px;
  justify-content: center;
}

.title {
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 10px;
  color: #17161a;
}

.subtitle {
  font-size: 26px;
  margin-bottom: 40px;
}

p {
  margin-bottom: 20px;
}

main ul {
  list-style: none;
}

main li {
  margin-bottom: 5px;
  position: relative;
  padding-left: 25px;
}

main li:before {
  content: '—';
  position: absolute;
  left: 0;
}

main code {
  font-size: 16px;
  background: #e6e2ff;
}
